@model SweetsShop.Models.Category

<h1>Editare categorie</h1>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Categories"))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)


    @Html.HiddenFor(m => m.CategoryId)

    @Html.Label("CategoryName", "Denumire categorie")
    <br />
    <div style="color: #6D214F;">
        @Html.Editor("CategoryName")
        @Html.ValidationMessageFor(m => m.CategoryName, null, new { style = "color: #F8EFBA;text-shadow: 2px 2px #ff0000; font-style: italic;" })
        <br />
        <br/>
    </div>
    <button class="btn btn-success" style="background-color: #25CCF7; box-shadow: 0 10px 10px #D6A2E8;" type="submit">Modifică categoria</button>
}

